* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url(./Asserts/logo.jpg);
  background-size: cover;
  background-position: center;
  backdrop-filter: blur(8px);
  font-family: Arial, sans-serif;
}

header {
  padding: 10px 0;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5%;
}

.logo {
  width: 200px;
  height: auto;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav-links li a {
  display: block;
  margin-top: 10px;
  color: rgb(248, 243, 243);
  font-weight: bold;
  text-decoration: none;
}

.nav-links li a:hover {
  color:rgb(10, 158, 158)
}

.tagline {
  text-align: center;
  font-size: 50px;
  color: rgb(6, 125, 85);
  margin: 30px 0;
  font-style: italic;
}

.event-row {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding: 20px;
  gap: 20px;
}

.event-card {
  flex: 1 1 250px;
  text-align: center;
}

.event-card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 10px;
}

.event-card a {
  display: block;
  margin-top: 10px;
  color: rgb(248, 243, 243);
  font-weight: bold;
  text-decoration: none;
}

.event-card a:hover {
  color: rgb(116, 255, 137, 0.403);
}


footer {
  background-color: black;
  text-align: center;
  padding: 20px 0;
}

.footer-content {
  display: flex;
  color: white;
  flex-direction: column;
  gap: 10px;
  text-decoration: none;
}
.footer-content a{
  color:white;
  text-decoration: none;
}

.footer-content a:hover{
  color: rgb(222, 197, 58);
}
@media(max-width:890px){
    header{
        padding: 20px 3%;
        transition: .4s;
    }
}
@media(max-width:750px){
    .nav-links{
        position: absolute;
        top: 100%;
        right: -100%;
        width: 300px;
        height: 130vh;
        background: black;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 120px 30px;
        transition: all .42s;
    }
    .nav-links  a{
        display: block;
        margin: 18px 0;
    }

}



