* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  background-image: url(./Asserts/logo.jpg);
  background-size: cover;
  background-position: center;
  backdrop-filter: blur(4px);
  font-family: cursive;
}

header {
  padding: 10px 0;
}

nav {
  color: rgb(195, 30, 210);
  padding: 20px 0;
  margin: 0px 40px 0px 0px;
}

.guys {
    display: flex;
    justify-content: end;
    text-decoration: none;
    margin: 0px 40px 0px 0px;
}
.guys a{
  color: rgb(240,213,59);
  text-decoration: none;
}

.guys a:hover {
    color: green;
}

main {
    color: white;
    font-size: medium;
}

footer {
  text-align: center;
  padding: 20px 0;
}

.mine {
  display: flex;
  color: white;
  flex-direction: column;
  gap: 10px;
}
.mine a{
  color:white;
  text-decoration: none;
}

.mine a:hover{
  color: rgb(222, 197, 58);
}